container_commands:
  01_packages:
    command: "source /opt/python/run/venv/bin/activate && pip install -U pip && pip install -r requirements.txt"
  02_migrate:
    command: "source /opt/python/run/venv/bin/activate && python pleio_account/manage.py migrate --noinput"
    leader_only: true
  03_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python pleio_account/manage.py collectstatic --noinput"
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: pleio_account/wsgi.py
